@font-face {
    font-family: aa;
    src: url(../font/SloppyPaint-lR50.ttf);
}

@font-face {
    font-family: delicious;
    src: url(../font/DeliciousHandrawn-Regular.ttf);
}

@font-face {
    font-family: permanent;
    src: url(../font/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: anothertag;
    src: url(../font/aAnotherTag.ttf);
}
@font-face {
    font-family:br ;
    src: url(../font/Blank\ River.ttf);
}
@font-face {
    font-family: timegoing;
    src: url(../font/Timegoing\ Regular.ttf);
}
@font-face {
    font-family: gemstone;
    src: url(../font/Gemstone.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Delicious+Handrawn&family=Rock+Salt&family=Staatliches&display=swap');
/* 
font-family: 'Bruno Ace SC', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Staatliches', cursive;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-image: url(../image/Group\ 1.png);
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

header {
    width: 100%;
    height: 12vh;
    background-color: black;
}

header h1 {
    width: fit-content;
    margin: auto;
    font-size: 0;
}

main {
    width: 100%;
    margin: auto;
    height: 100vh;
}

.lim {
    display: flex;
    flex-wrap: wrap;
}

.lim .me {
    flex-basis: 35%;
}

.lim .welcome {
    flex-basis: 65%;
}

.lim .text {
    flex-basis: 100%;
    text-align: right;
}

.lim .text p {
    font-family: gemstone;
    font-size: 3rem;
    font-weight: 300;
}

main .text p .chaotic {
    font-size: 3.5rem;
    color: #FF026A;
}

main .text p .mee {
    font-size: 3.5rem;
    color: #FFE101;
}

main .text p .fun {
    font-size: 3.5rem;
    color: #0901FF;
}

main .text p .spice {
    font-size: 3.5rem;
    color: orangered;
}

.hobbies h2 {
    width: fit-content;
    margin: 10vh auto;
    font-size: 0;
}

.fashion {
    background-image: url(../image/fashionbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fashion h3 {
    width: fit-content;
    margin: 5vh auto;
    font-size: 0px;

}

.fashion .stickers a img:hover {
    scale: 1.1;
}

.fashion .stickers .stussy {
    position: absolute;
    right: 10vw;
    top: 200vh;
}

.fashion .stickers .adidas {
    position: absolute;
    left: 10vw;
    top: 220vh;
}

.fashion .stickers .vans {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 41vh;
}

.fashion .stickers .thrasher {
    position: relative;
    width: fit-content;
    left: 10%;
}

.fashion .stickers .converse {
    position: absolute;
    right: 10vw;
    top: 265vh;
}

.fashion .stickers .offwhite {
    position: absolute;
    right: 30vw;
    top: 310vh;
}

.sbimage {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 400vh;

    right: 3vw;
}

.sb {
    margin-top: 60vh;
}

.sb .container h3 {
    font-size: 0px;
}

.sb .container p {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Bruno Ace SC', cursive;
}

.soccer {
    margin-top: 20vh;
}

.soccer .container .cleats {
    margin-top: -13vh;
}

.soccer .container h3 {
    font-size: 0px;
    position: absolute;
    right: 18vw;
    top: 520vh;
}

.soccer p {
    width: 80%;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-weight: 600;
    margin: 5vh auto;
    margin-bottom: 10vh;
}

.soccer .pics .row a:hover {
    opacity: 0.5;
    text-decoration: none;

}

.snslogo {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 10vh;
}

footer {
    width: 75rem;
    height: 56.875rem;
    background-image: url(../image/footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    margin: auto;
    margin-top: 30vh;
}

footer p {
    text-align: center;
    font-family: timegoing;
    padding-top: 33vh;
    font-size: 1.9rem;
    font-weight: 600;
    background-position: bottom;
}

.a img {
    margin: auto;
}

@media screen and (min-width:1200px) and (max-width:1600px) {
    .fashion .stickers a img {
        width: 80%;
    }

    .fashion .stickers .thrasher {
        scale: 0.8;
        margin-right: 60vw;
    }

    .sb {
        scale: 0.8;


    }

    .sbimage img {
        scale: 0.8;
        margin-left: 40vw;
        position: relative;
        top: -9vh;
        z-index: 999;
    }

}


@media screen and (min-width:992px) and (max-width:1200px) {

    main {
        width: 100%;
    }

    /******************************************/
    .hobbies {
        width: 100%;
        margin: auto;
    }

    .fashion h3 {
        width: fit-content;
        margin-left: 20vw;
        padding: 6vh;
        font-size: 0px;
        scale: 1.4;

    }

    .fashion .stickers a img:hover {
        scale: 0.85;
    }

    .fashion .stickers a img {
        scale: 0.8;
    }

    .fashion .stickers .stussy {
        position: absolute;
        right: 0;
        top: 165vh;
    }

    .fashion .stickers .adidas {
        position: absolute;
        left: 10vw;
        top: 185vh;
    }

    .fashion .stickers .vans {
        position: relative;
        width: fit-content;
        margin: auto;
        scale: 0.8;
        margin-top: 25vh;
        margin-left: 20vw;
    }

    .fashion .stickers .thrasher {
        position: relative;
        left: -2vw;
        scale: 0.7;
    }

    .fashion .stickers .converse {
        position: absolute;
        right: 3vw;
        top: 230vh;
    }

    .fashion .stickers .offwhite {
        position: absolute;
        right: 10vw;
        top: 270vh;
    }


    .sb {
        margin-top: 50vh;
        scale: 0.9;

    }

    .sbimage {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 310vh;
        right: 0;
    }

    .sbimage img {
        position: relative;
        margin-left: 35vw;
        scale: 0.7;
    }

    .sb .container h3 {
        font-size: 0px;
    }

    .sb .container p {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: timegoing;
    }

    .soccer {
        margin-top: 20vh;
        width: fit-content;


    }

    .soccer .goal img {

        width: fit-content;
        margin: auto;

    }

    .soccer .container .cleats {
        margin-top: -18vh;
        margin-right: 13vw;
        scale: 0.8;
    }

    .soccer .container h3 {
        font-size: 0px;
        position: absolute;
        right: 0;
        scale: 0.7;
        top: 423vh;

    }

    .soccer .container h3 img {
        margin-left: 30vw;
    }

    .soccer p {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10vh;
        font-family: 'Staatliches', cursive;
        font-weight: 600;
    }

    .soccer .pics .row a {
        text-align: center;
    }

    .soccer .pics .row a:hover {
        opacity: 0.5;
        text-decoration: none;

    }

    .snslogo {
        width: fit-content;
        height: fit-content;
        margin: auto;
    }

    footer {
        width: 100%;
        height: 56.875rem;
        background-image: url(../image/footer.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        margin-top: 30vh;
    }

    footer p {
        text-align: center;
        padding-top: 45vh;
        font-size: 1.3rem;
        font-weight: 600;
    }

    /***********************************/

}

@media screen and (min-width:768px) and (max-width:991px) {

    main {
        width: 100%;
    }

    /******************************************/
    .hobbies {
        width: 100%;
        margin: auto;
    }

    .fashion h3 {
        width: fit-content;
        margin-left: 20vw;
        padding: 6vh;
        font-size: 0px;
        scale: 1.4;

    }

    .fashion .stickers a img:hover {
        scale: 0.85;
    }

    .fashion .stickers a img {
        scale: 0.8;
    }

    .fashion .stickers .stussy {
        position: absolute;
        right: 0;
        top: 165vh;
    }

    .fashion .stickers .adidas {
        position: absolute;
        left: 10vw;
        top: 185vh;
    }

    .fashion .stickers .vans {
        position: relative;
        width: fit-content;
        margin: auto;
        scale: 0.8;
        margin-top: 25vh;
        margin-left: 20vw;
    }

    .fashion .stickers .thrasher {
        position: relative;
        left: -2vw;
        scale: 0.7;
    }

    .fashion .stickers .converse {
        position: absolute;
        right: 3vw;
        top: 230vh;
    }

    .fashion .stickers .offwhite {
        position: absolute;
        right: 10vw;
        top: 270vh;
    }


    .sb {
        margin-top: 50vh;
        scale: 0.9;

    }

    .sbimage {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 310vh;
        right: 0;
    }

    .sbimage img {
        position: relative;
        margin-left: 35vw;
        scale: 0.7;
    }

    .sb .container h3 {
        font-size: 0px;
    }

    .sb .container p {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: 'Bruno Ace SC', cursive;
    }

    .soccer {
        margin-top: 20vh;
        width: fit-content;


    }

    .soccer .goal img {

        width: fit-content;
        margin: auto;

    }

    .soccer .container .cleats {
        margin-top: -18vh;
        margin-right: 13vw;
        scale: 0.8;
    }

    .soccer .container h3 {
        font-size: 0px;
        position: absolute;
        right: 0;
        scale: 0.7;
        top: 423vh;

    }

    .soccer .container h3 img {
        margin-left: 30vw;
        position: relative;
        top: -30vh;
    }

    .soccer p {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10vh;
        font-family: 'Staatliches', cursive;
        font-weight: 600;
    }

    .soccer .pics .row a {
        text-align: center;
    }

    .soccer .pics .row a:hover {
        opacity: 0.5;
        text-decoration: none;

    }

    .snslogo {
        width: fit-content;
        height: fit-content;
        margin: auto;
    }

    footer {
        width: 100%;
        height: 56.875rem;
        background-image: url(../image/footer.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        margin-top: 30vh;
        position: relative;
    }

    footer p {
        text-align: center;
        padding: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        bottom: 30vh;
        font-size: 1.3rem;
        font-weight: 600;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    html {
        font-size: 12px;
    }

    .a .col-12 {
        margin: 10vw 0;
    }

    .a img {
        width: 80%;
    }

    .pics .col-12 img {
        width: 80%;
        margin: auto;

    }

    .pics .col-12 p {
        font-size: 3rem;
    }

    .fashion .stickers img {
        width: 50%;
    }

    .sb h3 {
        scale: 0.9;
    }

    .sbimage {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 300vh;


    }

    .sbimage img {
        position: relative;
        margin-left: 35vw;
        scale: 0.7;
        right: 19vw;
    }

    .sb .container p {
        width: 60%;
        height: fit-content;
        font-size: 1.5rem;
        font-weight: 900;
        margin-top: -5vh;


        font-family: 'Bruno Ace SC', cursive;
    }

    .fashion .stickers .stussy {
        position: absolute;
        left: 0vw;
        top: 165vh;
        left: 60vw;
        scale: 1.8;
    }

    .fashion .stickers .adidas {
        position: absolute;
        top: 175vh;

    }

    .fashion .stickers .vans {
        position: relative;
        width: 80%;
        margin: auto;

        margin-top: 25vh;
        margin-left: 50vw;
    }

    .fashion .stickers .thrasher {
        position: relative;
        left: -2vw;
        scale: 0.7;
    }

    .fashion .stickers .converse {
        position: absolute;
        left: 60vw;
        width: 60%;
        top: 220vh;
    }

    .fashion .stickers .offwhite {
        position: absolute;
        right: 10vw;
        top: 240vh;
    }

    .soccer {
        padding-top: 20vh;
    }

    .soccer .container .cleats {
        width: 80%;
    }

    .soccer .container h3 {
        font-size: 0px;
        position: absolute;
        right: 0;
        width: 70%;
        top: 380vh;

    }

    footer {
        width: 100%;

        background-image: url(../image/footer.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        margin: auto;
        position: relative;
        bottom: 0;
    }

    footer p {
        text-align: center;
        width: fit-content;
        height: fit-content;

        font-size: 1.3rem;
        font-weight: 600;
        padding: 0;
        position: absolute;
        bottom: 23vh;
        left: 50%;
        transform: translate(-50%, 0%);

    }
}

    @media screen and (max-width:575px) {
        html {
            font-size: 10px;
        }

        .a .col-12 {
            margin: 10vw 0;
        }

        .a img {
            width: 80%;
        }

        .pics .col-12 img {
            width: 80%;
            margin: auto;

        }

        .pics .col-12 p {
            font-size: 3rem;
        }

        .fashion .stickers img {
            width: 50%;
        }

        .sb h3 {
            scale: 0.9;
        }

        .sbimage {
            width: fit-content;
            height: fit-content;
            position: absolute;
            top: 290vh;
        }

        .sbimage img {
            position: relative;
            margin-left: 35vw;
            scale: 0.7;
            right: 19vw;
        }

        .sb .container p {
            width: 40%;
            font-size: 1.5rem;
            font-weight: 900;
            font-family: 'Bruno Ace SC', cursive;
        }

        .fashion .stickers .stussy {
            position: absolute;
            left: 0vw;
            top: 165vh;
            left: 60vw;
            scale: 1.8;
        }

        .fashion .stickers .adidas {
            position: absolute;
            top: 175vh;

        }

        .fashion .stickers .vans {
            position: relative;
            width: 80%;
            margin: auto;

            margin-top: 25vh;
            margin-left: 50vw;
        }

        .fashion .stickers .thrasher {
            position: relative;
            left: -2vw;
            scale: 0.7;
        }

        .fashion .stickers .converse {
            position: absolute;
            left: 60vw;
            width: 60%;
            top: 220vh;
        }

        .fashion .stickers .offwhite {
            position: absolute;
            right: 10vw;
            top: 240vh;
        }

        .soccer .container .cleats {
            width: 80%;
        }

        .soccer .container h3 {
            font-size: 0px;
            position: absolute;
            right: 0;
            width: 70%;
            top: 360vh;

        }

        footer {
            width: 100%;
            background-image: url(../image/footer.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
            margin: auto;
            position: relative;
            bottom: 0;
        }

        footer p {
            text-align: center;
            width: fit-content;
            height: fit-content;

            font-size: 1.3rem;
            font-weight: 600;
            padding: 0;
            position: absolute;
            bottom: 18vh;
            left: 50%;
            transform: translate(-50%, 0%);
        }

    }


    @media screen and (max-width:400px) {
        .lim .text p {
            font-size: 2.5rem;
        }
    }